<div style="background-color: #000000;">

    <div class="shadow-title parallax-top-shadow">work</div>
    <div class="section-parallax parallax-00" style="background-image: url('http://www.ivang-design.com/svg-load/parallax/parallax-0.png');"></div>
    <div class="section-parallax parallax-01" style="background-image: url('http://www.ivang-design.com/svg-load/parallax/parallax-01.png');"></div>
  
  <div class="section full-height">
    <div class="section-title-wrap">
      <div class="container">
    <div class="row" style="width: 100%;"> 
        <div class="col-6 text-center parallax-fade-top" style="    align-self: center;">
            <div style="    font-size: 38px;align-items: left;">
                    <a class="left-navigation" href="" style="width: 100%;">
                        EDUCATION
                    </a> 
                    <a class="left-navigation" href="" style="width: 100%;">
                        EARLIER POSITIONS
                    </a>
                    <a  class="left-navigation" href="" style="width: 100%;">
                        PROJECTS
                    </a>
            </div>
        </div>
          <div class="col-6 text-center parallax-fade-top" >
            <img src="./../../../assets/Photo_Shail.jpeg.png" style="    height: 40vh;    filter: grayscale(1);
            opacity: 1;
            
            mix-blend-mode: multiply;
  background-color: black; 

            ">

            <p>Welcome!</p>	
            <h1 style="font-family: 'apple-try';    font-size: 27px;
            line-height: 10vh;">Shail Chauhan</h1>
          </div>
        </div>	
      </div>
    </div>
  </div>
  <div class="section full-height z-bigger">
    <ul class="case-study-wrapper">
      <li class="case-study-name">                            	
        <a href="#" class="hover-target">light</a>
      </li>
      <li class="case-study-name">                                         	
        <a href="#" class="hover-target">flare</a>
      </li>
      <li class="case-study-name">                                        	
        <a href="#" class="hover-target">nature</a>
      </li>
      <li class="case-study-name">                                         	
        <a href="#" class="hover-target">fire</a>
      </li>
    </ul>
    <ul class="case-study-images">
      <li>
        <div class="img-hero-background">
          <img src="http://www.ivang-design.com/svg-load/parallax/light.jpg" alt="">
        </div>  
        <div class="hero-number-back">01</div> 
        <div class="hero-number">01</div> 
        <div class="hero-number-fixed">04</div> 
        <div class="case-study-title">graphic design, interaction</div> 
      </li>
      <li>
        <div class="img-hero-background">
          <img src="http://www.ivang-design.com/svg-load/parallax/flare.jpg" alt="">
        </div> 
        <div class="hero-number-back">02</div> 
        <div class="hero-number">02</div>  
        <div class="case-study-title">advertising, art direction</div> 
      </li>
      <li>
        <div class="img-hero-background">
          <img src="http://www.ivang-design.com/svg-load/parallax/nature.jpg" alt="">
        </div>
        <div class="hero-number-back">03</div>  
        <div class="hero-number">03</div> 
        <div class="case-study-title">photography, retouching</div> 
      </li>
      <li>
        <div class="img-hero-background">
          <img src="http://www.ivang-design.com/svg-load/parallax/fire.jpg" alt="">
        </div> 
        <div class="hero-number-back">04</div> 
        <div class="hero-number">04</div> 
        <div class="case-study-title">photography, advertising</div> 
      </li>
    </ul>	
  </div>
  
  

</div>